/*function validate_answer(){
    var opt1=document.getElementById('opt1');
    var opt2=document.getElementById('opt2');
    var opt3=document.getElementById('opt3');
    var label=document.getElementById('label1');
    console.log(opt1.value);
    
    var ans=document.getElementById('answer');
    if (opt1.checked){
        if (opt1.value==ans.value){
            label1.style.visibility="visible";
            return true;
        }
        return false;
    }
    else if (opt2.checked){
        if (opt2.value==ans.value){
          label1.style.visibility="visible";
          return true;
        }
        return false;
    }
    else if (opt3.checked){
        if (opt3.value==ans.value){
          label1.style.visibility="visible";
          return true;
        }
        return false;
    }
}*/